:root {
  --box-background-color: grey;
  --box-background-color-success: green;
}

html,
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 0;
  font: 300 2vmin 'Rubik', sans-serif;
}

.ticTacToeGame {
  width: 100vh;
  height: 100%;
  display: grid;
  grid-gap: 0.5em;
  grid-template-columns: repeat(2, 1fr);
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.boxUnitsInput, .playerNumberInput {
  margin: 0.5em;
  width: 4vmin;
  font: inherit;
}

.container {
  width: 100%;
  max-width: 60%;
  display: grid;
  grid-gap: 0.5em;
}

.box {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  background-color: var(--box-background-color);
  text-align: center;
  font-size: 10vmin;
  border-radius: 0.5em;
  font: inherit;
  font-weight: 500;
}

.box-success {
  background-color: var(--box-background-color-success);
}

.newGameButton {
  margin: 30px;
  font: inherit;
}

.resetGameButton {
  width: 14vmin;
  margin: 0.5em;
  font: inherit;
}
